*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter Tight, sans-serif;
   
    
}
header{
  
    background-color: #fffaf4;
   
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.menu-list{
    display: flex; 
    list-style-type: none;
    font-size: 14px;
     gap: 20px;
    width: 16%;
    justify-content: space-between;
    font-weight: 100;
    
}
.menu-list a {
  text-decoration: none;
  color: black;
  position: relative;
  padding-bottom: 5px;
}
.menu-list a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: black;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu-list a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  background: black;
  height: 2px;
  width: 20px;
  margin: 4px;
  display: block;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(238, 233, 233, 1);
  padding: 40px;
  align-items: center;
  justify-content: center;
  animation-name: slide-in-left; 
  animation-duration: 0.5s; 
  animation-timing-function: ease-in-out; 
}

@keyframes slide-in-left {
  from {
      transform: translateX(100%); 
      opacity: 0; 
  }
  to {
      transform: translateX(0); 
      opacity: 1; 
  }
}
.mobile-menu ul{
  list-style-type: none;
  
}
.mobile-menu ul li {
  margin-bottom: 10px; 
  text-align: center;
}
.mobile-menu ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 100;
}
.mobile-menu.open {
  display: flex;
  transform: translateY(0);
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  opacity: 0;
 }

 #overlay.active {
  opacity: 1;
  pointer-events: all;
 }
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.line{
   border-bottom: 1px solid rgb(218, 214, 214); 
    
}
.hero-how a, .cta-button a {
  text-decoration: none;
  color: white;
}
.hero-get a {
  text-decoration: none;
  color: black;
}

.hero-section{
 background-color: #fffaf4;
  padding-bottom: 120px;
  
}
.hero{
    width: 60%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}
.hero-header{
    font-size: 50px;
    font-weight: 500;
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
}

.hero-sub {
  margin-top: 20px;
  width: 80%;
  font-size: 14.5px;
  line-height: 30px;
  font-weight: 100;
}



.hero-buttons{
    margin-top: 35px;
    font-weight: 100;
    font-size: 14px;

}

.hero-how{
 width: 120px;
 height: 44px;
 background-color: black;
 color: white;
 border: none;
 border-radius: 13px;
 cursor: pointer; 
}

.hero-get{
    all: unset; 
    display: inline-block; 
    cursor: pointer; 
    margin-left: 20px;
   
}

.section-two{
    background-color: white;
    /* margin: 30px 40px; */
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}
#about-me{
    margin-top: 70px;
    font-size: 14.5px;
    width: 50%;
    line-height: 30px;
    font-weight: 100;
    animation-name: slide-in-bottom; 
    animation-duration: 1.2s; 
    animation-timing-function: ease-in-out; 
}
@keyframes slide-in-bottom {
  from {
      transform: translateY(100%); 
      opacity: 0; 
  }
  to {
      transform: translateY(0); 
      opacity: 1; 
  }
}
.video-steps{
    width: 25%;
    margin-right: 150px;
}
#features-section{
  background-color: #fffaf4;
}
.feature{
    padding-top: 100px;
    margin: auto;
    width: 60%;
    text-align: center;
  }
  .feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    font-weight: 100;
    font-size: 14px;
  }
  
 
  .checkmark {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: solid #cc9e74;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-right: 10px;
  }
.features-how{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.features-desc{
    font-weight: 100;
    font-size: 14px;
    margin-top: 18px;
}
.video-how{
margin-top: 30px;
 width: 70%;
}
.howtouse{
 margin-top: 50px;
 text-align: center;
}
.video-step{
   width: 43%;
}
.how-to-videos{
 display: flex;
 margin: 20px;
}
.cta{
    width: 55%;
}
.cta-section{
  display: flex;
  flex-wrap: wrap;
  margin: 100px 100px;
}
.cta-header{
font-size: 50px;
font-weight: 500;
}
.cta-sub{
font-weight: 100;
font-size: 14px;
line-height: 30px;
}

.cta-button{
 margin-top: 40px;
 width: 120px;
 height: 44px;
 background-color: black;
 color: white;
 border: none;
 border-radius: 13px;
 cursor: pointer; 
}

.container {
    background-color: #1E1F24;
    color: white;
    padding: 30px;
    padding-top: 80px;
    width: 100%;
  }
  
  .content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 80%;
    
    cursor: pointer;
  }
  
  .menu1 {
    margin-right: 65px;
  }
  
  .menu-title {
    font-weight: 600;
  }
  
  .menu-item {
    font-size: 13px;
    color: #9B9B9B;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-items: center;
    list-style-type: none;
  }
  .menu-item a {
    text-decoration: none;
    color: #9B9B9B;
  }
  .footer-bottom{
    padding-top: 70px;
  }
  .footer-text {
    margin-top: 20px;
    font-size: 0.875rem;
  }
  
  .divider {
    margin: 16px 0;
    border-top: 0.5px solid #9B9B9B;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .copyright {
    font-size: 0.875rem;
    color: #9B9B9B;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .link-item {
    font-size: 0.875rem;
    color: #9B9B9B;
  }
  
  .link-divider {
    border-right: 1px solid #9B9B9B;
    height: auto;
  }

  @media (max-width: 768px) {
    .menu-list {
        display: none;
    }

    .menu{
      justify-content: space-between;
    }
    .hamburger {
        display: flex;
        margin-right: 40px;
    }
    
    .hero, .hero-sub{
    width: 90%;
 
  }
    .hero-header,.cta-header {
      font-size: 30px;
      width: 100%;
    }
  .section-two{
   
  }
#about-me{
  width: 100%;

}
.video-steps{
  min-width: 180px;
  margin-top: 40px;
  }
  .cta{
    width: 100%;
}
.cta-section{
  width: 80%;
  margin: 40px;
}
  .money-image{
   min-width: 40px;
  }
  .How-to-videos{
    display: block;
  }
  .video-step{
    width: 80%;
 }
}

